.page-404 {
    &__container {
        min-height: 70vh;
    }
    &__description {
        margin-right: auto;
        margin-left: auto;
        @include md {
            max-width: 70%;
        }
    }
    & + .footer {
        margin-top: 0;
    }
}