$easing: cubic-bezier(0.25,0.1,0.25,1);

.animated-element {
    opacity: 0;
    transition: opacity 0.4s $easing, top 0.4s $easing;
    position: relative;
    top: 30px;
}

@media only screen and (prefers-reduced-motion: 'reduce') {
    .animated-element {
        // Recognizing that importants are not great,
        // But I need to override the inline style.
        top: 0 !important;
    }
}

// Only animate when JS is available
.js {

	// Turn off opacity for animated elements so we don't see them flicker in
	[data-animate] {
		opacity: 0;
	}

    // ---- Parallax Container ---- //
    // Add the parallax class to any background-image container
    .parallax {
        background-attachment: scroll;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;

        transform-style: inherit;

        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        will-change: background-position;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left:0;
            right:0;
        }
    }
    .parallax, .parallax:before {
        background-position: 50% calc(50% + -20px);
        background-size: cover;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes hero-in {
        0% {
            opacity: 0;
            top: 30px;
        }

        100% {
            opacity: 1;
            top: 0;
        }
    }

    @keyframes opacity-in {
        0% {
                opacity: 0;
                transform: translate3d(0,0,0);
        }

        100% {
                opacity: 1;
                transform: translate3d(0,0,0);
        }
    }

    @keyframes slide-in {
        0% {
            opacity: 0;
            transform: translate3d(0, 2rem, 0);
        }

        100% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes spin-in {
        0% {
            opacity: 0;
            transform: scale3d(0.5,0.5,0.5) rotate3d(0,0,0.1,90deg);
        }
    }
}

@import './hide-on-scroll';
@import './lazy-load';