.hide-on-scroll {
    opacity: 1;
    transition: top 0.5s $easing, opacity 0.5s $easing;
    &.scroll--hidden {
        opacity: 0;
    }
}

@media only screen and (prefers-reduced-motion: 'reduce') {
    .hide-on-scroll {
        transition: top 1.5s $easing, opacity 1s $easing;
    }
}