h1, h2, h3, h4, h5, h6 {
    clear: both;
    margin-top: 0;
}

.headline {
    @include fluid-type(52, 40);  
    white-space: pre-line;
    font-weight: 800;
    line-height: 1.05;
    @include lg {
        @include fluid-type(67, 40);
    }
}

.heading {
    &--accent {
        color: color('red');
    }
}

@mixin headings($classname) {
    .heading_one,
    .heading-one-#{$classname} {
        @include fluid-type(52, 40);  
        font-weight: 800;
        line-height: 1.05;
    }
    .heading_two,
    .heading-two-#{$classname} {
        @include fluid-type(38, 30);
        font-weight: 700;
        line-height: 1.26;
    }
    .heading_three,
    .heading-three-#{classname} {
        @include fluid-type(30, 26);
        font-weight: 600;   
        line-height: 1.2;
    }
    .heading_four,
    .heading-four-#{classname} {
        @include fluid-type(20,20);
        font-weight: 400;
    }
    .heading_five,
    .heading-five-#{classname} {
        @include fluid-type(17, 17);
        letter-spacing: 0.05em;
        font-weight: 700;
    }
    .heading_six,
    .heading-six-#{$classname} {
        font-weight: 900;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }
}