@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Martel&family=Metrophobic&display=swap");
// Tailwinds
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer components {
  .pill {
    @apply border border-shade-black-400 px-4 py-1 rounded-pill inline-block text-center paragraph-sm;
  }
  .pill-active {
    @apply border-primary-electric-blue-400 bg-primary-electric-blue-400 text-shade-white-400;
  }
  .pill-secondary {
    @apply border border-shade-white-400 px-4 py-1 rounded-pill block text-center paragraph-sm nth-child-2:ml-5 block;
  }
  .pill-secondary-active {
    @apply border-shade-white-400 bg-shade-white-400 text-shade-black-400;
  }
  .default-tabs .pill-secondary {
    @apply border-t-0 border-b-0 border-r-0 border-l-0 nth-child-2:ml-0 pb-6 px-8;
  }
  .default-tabs .pill-secondary.pill-secondary-active {
    @apply border-b-4 border-primary-electric-purple-400 rounded-none;
  }
  .text-link {
    @apply text-primary-electric-blue-400 visited:text-primary-electric-purple-400 block hover:underline;
  }
  .current_page_item .submenu {
    @apply block;
  }
  .h2 + .paragraph-blog,
  .h3 + .paragraph-blog,
  .h4 + .paragraph-blog {
    @apply mt-3 md:mt-8;
  }
  .custom-component + .load-more-results {
    @apply mt-16 border-t border-shade-grey-500;
  }
  .single {
    .custom-component:first-child {
      @apply lg:mt-0;
    }
  }
  .custom-component {
    @apply mt-23;
  }

  .custom-component .custom-component {
    @apply mt-0;
  }

  .tab-container {
    .accordion-list {
      @apply w-full;
    }
  }
  .page {
    .container .container {
      @apply w-full;
      .icon-list {
        @apply w-full;
      }
      .icon-list-title,
      .accordion-title {
        @apply hidden;
      }
    }
  }
  .footnote-link.footnote-identifier-link {
    @apply scroll-mt-30;
  }
  .footnote-link.footnote-back-link {
    @apply paragraph-sm;
  }
  ol.footnotes {
    @apply list-inside  border-t border-shade-grey-500 pt-6 mt-30;
  }
  ol.footnotes li small {
    @apply paragraph-sm;
  }

  .greenhouse h2 {
    @apply h4 md:h3 mb-8 mt-18 w-8/12 tb:w-6/12;
  }

  .greenhouse p,
  .greenhouse li {
    @apply md:paragraph paragraph-sm;
  }

  .greenhouse ul {
    @apply list-disc list-inside;
  }
  .single .nestable {
    .nested-flex {
      @apply block w-full md:w-full;
      .accordion-title + .accordion-list {
        @apply mt-10;
      }
    }
  }

  .row-item {
    @apply bg-shade-white-400 hover:bg-shade-grey-100 transition-background-color duration-300;
  }

  .wp-block-code {
    @apply bg-shade-grey-100 rounded-large p-12 grow;
  }
}

.visible-scroll {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: rgba(34, 39, 49, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

.wp-block-video,
.wp-block-embed,
.wp-block-embed__wrapper {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  video,
  iframe {
    max-height: 100%;
  }
}

.lightbulb {
  //   width: 300px;
  //   height: 200px;
  //   width: 200px;
  margin: 5px;
}

.none {
  display: none;
}
.block {
  display: block;
}

.grid-container {
  column-count: 4;
  column-gap: 0.5em;
  max-width: 1440px;
  margin: auto;
  width: 100%;
}

// .grid__item {
//   width: 200px;
// }

img {
  height: auto;
  max-width: 100%;
}

@media (max-width: 800px) {
  .grid-container {
    column-count: 3;
  }
}

@media (max-width: 600px) {
  .grid-container {
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .grid {
    column-count: 1;
  }
}
