@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Martel&family=Metrophobic&display=swap');

// Tailwinds
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .pill {
        @apply border border-shade-black-400 px-4 py-1 rounded-pill inline-block text-center paragraph-sm;
    }
    .pill-active {
        @apply border-primary-electric-blue-400 bg-primary-electric-blue-400 text-shade-white-400;
    }
    .text-link {
        @apply text-primary-electric-blue-400 visited:text-primary-electric-purple-400 block hover:underline;
    }
    .current_page_item .submenu {
        @apply block;
    }
}


.greenhouse h2 {
    @apply h4 md:h3 mb-8 mt-18 w-8/12 tb:w-6/12;
}

.greenhouse p, .greenhouse li {
    @apply md:paragraph paragraph-sm;
}

.greenhouse ul {
    @apply list-disc list-inside;
}