@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Martel&family=Metrophobic&display=swap');
// Tailwinds
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer components {
    .pill {
        @apply border border-shade-black-400 px-4 py-1 rounded-pill inline-block text-center paragraph-sm;
    }
    .pill-active {
        @apply border-primary-electric-blue-400 bg-primary-electric-blue-400 text-shade-white-400;
    }
    .text-link {
        @apply text-primary-electric-blue-400 visited:text-primary-electric-purple-400 block hover:underline;
    }
    .current_page_item .submenu {
        @apply block;
    }
    .h2+.paragraph-blog,
    .h3+.paragraph-blog,
    .h4+.paragraph-blog {
        @apply mt-3 md:mt-8;
    }
    .custom-component+.load-more-results {
        @apply mt-16 border-t border-shade-grey-500;
    }
    .custom-component {
        @apply mt-23;
    }
    .footnote-link.footnote-identifier-link {
        @apply scroll-mt-30;
    }
    .footnote-link.footnote-back-link {
        @apply paragraph-sm;
    }
    ol.footnotes {
        @apply list-inside  border-t border-shade-grey-500 pt-6 mt-30;	
    }
    ol.footnotes li small {
        @apply paragraph-sm;
    }
}


