.accordion {
    &-block {
        background: color('white');
    }
    &-row {
        color: color('grey', 'dark');
        &__toggle {
            border-radius: 50%;
            transform: translateY(3px);
            background: color('grey', 'light');
            .icon {
                padding: spacing(1);
                @include fluid-type(24, 24);
            }
        }
        &__header {
            color: color('grey', 'dark');
            transition: color 0.3s ease-in-out;
            flex-wrap: nowrap;
            .icon {
                display: none;
            }
            &[aria-expanded="false" ] {
                .icon-plus {
                    display: block;
                }
            }
            &[aria-expanded="true"] {
                .icon-minus {
                    display: block;
                }
            }
            &.accordion-row--active {
                color: color('black');
            }
            &:hover {
                cursor: pointer;
                color: color('grey', 'hover');
            }
        }
        .paragraph {
            margin-bottom: spacing(4);
        }
    }

}