.block {
    &--grey {
        background-color: color('grey', 'light');
        & + .footer {
            margin-top: 0;
        }

    }
    &--red {
        background-color: color('red');
        &-lt {
            background-color: color('red', 'light');
        }
        .hero__image::after {
            background-color: color('black');
        }
    }
    &--black {
        background-color: color('black');
    }
    &--red,
    &--red-lt,
    &--black {
        color: color('white');
    }
    &--red,
    &--red-lt,
    &--black,
    &--grey {
        & + footer,
        & + .block--red,
        & + .block--black, 
        & + .block--grey {
            margin-top: 0
        }
    }
} 

.col--3, 
.col--4,
.col--6 {
    .block-editor-block-list__layout {
        @extend .row;
        @extend .start-xs;
        .block-editor-block-list__layout {
            display: block;
            max-width: 100%;
            margin: 0;
        }
    }
    [data-type="trmc/callout-column"] {
        margin: 0;
        flex: 0 0 100%;
        padding-right: $mobile-half-gutter-width;
        padding-left: $mobile-half-gutter-width;
        @media (min-width: $md) {
            padding-right: $half-gutter-width;
            padding-left: $half-gutter-width;
        }
    }
}
.col--3 {
    [data-type="trmc/callout-column"] {
        @extend .col-md-3;
    }
}

.col--4 {
    [data-type="trmc/callout-column"] {
        @extend .col-md-4;
    }
}

.col--6 {
    [data-type="trmc/callout-column"] {
        @extend .col-md-6;
    }
}

.no-icon {
    .icon-upload {
        display: none;
    }
}

.single .custom_component:first-child {
    margin-top: 0;
}