.body-copy {
    & > .heading_two,
    & > .heading_three, 
    & > .heading_four, 
    & > .heading_five {
        &:not(:first-child) {
            margin-top: 60px;
        }
    }

    &__block {
        & + p,
        & + ul,
        & + ol {
            padding-top: spacing(7);
        }
    }
    & > * {
        opacity: 0;
        transition: opacity 0.4s $easing, top 0.3s $easing;
        position: relative;
        top: 30px;
    }
}


.body-copy,
.image-text-block,
.image-list__single {
    p + p {
        padding-top: spacing(3);
    }
}
