.cognito__embed .cognito .c-forms-form,
.cognito__embed .cognito.c-sml .c-forms-form {
    h3,
    h4 {
        @include fluid-type(30, 26);
        font-weight: 600;  
        margin: 0;
    }
    select {
        margin: 0;
    }
    .c-label {
        padding-bottom: spacing(1);
    }
    .c-editor,
    .c-field .c-label,
    .c-forms-form-title h2,
    input[type="text"],
    .c-button,
    .c-fileupload-dropzone .c-upload-button button,
    select,
    .c-helptext,
    h3,
    h4 {
        font-family: $font__main;
        color: color('grey', 'dark');
        &::placeholder {
            color: lighten(color('grey', 'dark'), 10);
        }
    }
    .c-forms-form-title {
        padding-bottom: spacing(1);
    }
    .c-helptext {
        padding-top: 0
    }
    .c-helptext p {
        @include fluid-type(14,14);
        em {
            font-style: normal;
        }
    }
    .c-forms-form-title h2 {
        @include fluid-type(38, 30);
        font-weight: 700;
        line-height: 1.26; 
        padding: 0
    }
    .c-field .c-label {
        @include fluid-type(16,16);
        line-height: 1;
        font-weight: bold;
        text-transform: capitalize;
    }
    .c-field {
        margin-top: spacing(3);
    }
    .c-section {
        margin-top: spacing(4);
    }
    .c-address .c-editor:nth-child(n + 2) {
        margin-top: spacing(3);
    }
    input[type="text"],
    textarea, 
    select {
        border: 1px solid color('grey', 'light');
        padding: spacing(2) spacing(3);
        border-radius: 100px;
        box-shadow: none;
        color: color('grey', 'dark');
        @include fluid-type(17, 17);
        &:focus {
            border: 1px solid color('focus');
        }
    }
    .c-dropdown {
        &::after {
            right: spacing(3);
        }
    }
    textarea,
    .c-background-highlight {
        border-radius: 3px;
        box-shadow: none;
    }
    .c-fileupload-dropzone .c-upload-button {
        &:hover {
            top: 0;
            left: 0;
        }
    }
    .c-button,
    .c-fileupload-dropzone .c-upload-button button,
    .c-button:not(.c-save-resume-button) {
        min-width: 170px;
        text-align: center;
        border-radius: 100px;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        box-shadow: none;
        @include fluid-type(16, 16);
        color: color('white');
        background: color('red');
        padding: spacing(1) spacing(3);
        border: 1px solid color('red');
        line-height: 1.5;
        &:hover {
            background: color('red', 'hover');
            border: 1px solid color('red', 'hover');
            box-shadow: none;
        }
        @include xl {
            width: auto;
        }
    }
    .c-fileupload-dropzone .c-upload-button button {
        color: color('grey', 'dark');
        background: color('white');
        border: 1px solid color('grey', 'base');
        &:hover {
            background: color('white', 'hover');
            color: color('black', 'hover');
        }
    }
    .c-action {
        float: none;
        text-align: right;
        button[type="submit"] {
            margin-top: spacing(4);
            float: none;
            width: auto;
        }
    }

    .c-validation {
        padding-top: spacing(1);
        font-family: $font__main;
        background: white !important;
        color: color('red', 'light')
    }
}

.cognito form + div {
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.fsBody input {
    line-height: 1.15;
    @include font-size(1.4);
}