$card_width: 350px;
$card_spacing: spacing(7);

.content-card {
    &__container {
        @include lg {
            max-width: calc((3 * #{$card_width}) + (2 * #{$card_spacing}));
            margin-right: auto;
            margin-left: auto;
        }
    }
    &__single {
        background: white;
        color: color('grey', 'dark');
        max-width: 350px;
        width: 100%;
        flex-basis: 100%;
        @include lg {
            flex-basis: calc((100% - (2 * #{$card_spacing})) / 3);
        }
        &:nth-child(3n) {
            @include lg {
                margin-right: 0;
            }
        }   
        &:nth-child(n + 4) {
            @include lg {
                margin-top: spacing(8);
            }
        }
    }
    &--no-icon {
        .icon {
            display: none;
        }
        .content-card__content {
            margin-top: 0;
            text-align: center;
        }
        .content-card__btn {
            text-align: center;
        }
    }
    &__list {
        flex-wrap: wrap;
    }
}