@import "accordion";
@import "blocks";
@import "body-copy";
@import "callout-column";
@import "cognito-embed";
@import "content-cards";
@import "document";
@import "feature-strip";
@import "image-block";
@import "image-list";
@import "image-text";
@import "logos";
@import "map-block";
@import "page-strip";
@import "slider";
@import "stats";
@import "testimonial-slider";
@import "timeline";
@import "video-block";

.custom-component {
    margin-top: 120px;
    @include lg {
        margin-top: 200px;
    }
    &:last-child {
        &:not(.block--black):not(.block--grey):not(.block--red) {
            margin-bottom: 200px;
        }
    }
}

.page-hero-slant {
    .custom-component:first-child {
        margin-top: 120px;
    }
}
.page-hero-square {
    .custom-component:first-child {
        margin-top: 100px;
        &.news-releases {
            margin-top: spacing(5);
        }
        &.search {
            margin-top: 0;
        }
    }
}