.image-list {
    &__single,
    &__image {
        max-width: 620px;
        margin: 0 auto;
    }
    &__image {
        padding-top: clamp(0px, 93.54%, 580px);
        width: 100%;
        background-size: cover;
        background-position: center;
        @include lg {
            margin-right: 0;
        }
    }
    &__single + .image-list__single {
        margin-top: spacing(7);
        @include lg {
            margin-top: spacing(5);
        }
    }
    &--reverse .image-list__image {
        @include lg {
            margin-right: auto;
            margin-left: 0;
        }
    }
}