$fade-out: visibility 0.3s linear, opacity 0.3s linear, max-height 0.3s linear; 

.map-block {
    &__map {
        padding-top: 72.13%;
    }
    .link--maps {
        color: color('red');
    }
    &__listing {
        color: color('black');
        visibility: visible;
        opacity: 1;
        transition: $fade-out;
        border-bottom: 1px solid color('grey', 'light');
        &--active {
            .map-block__trigger {
                background-color: color('grey', 'light');
            }
        }
        &--hidden {
            opacity: 0;
            visibility: hidden;
            max-height: 0;
            overflow: hidden;
            border: none;
        }
        &__hours {
            p + p {
                padding-top: spacing(1);
            }
        }
    }
    &__container {
        position: relative;
        height: 100%;
    }
    &__list {
        scroll-behavior: smooth;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: scroll;
    }
    &__trigger {
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: color('grey', 'hover-lt');
        }
    }
    &__empty {
        opacity: 0;
        max-height: 0;
        visibility: hidden;
        transition: $fade-out;
        overflow: hidden;
        &--active {
            opacity: 1;
            max-height: 100%;
            visibility: visible;
            overflow: visible;
        }
    }
    .marker {
        border: none;
        cursor: pointer;
        height: 31px;
        width: 31px;
        opacity: 1;
        visibility: visible;
        transition: $fade-out;
        @include font-size(3.1);
        &::before {
            content: url('./images/map-icon.svg');
        }
        &::after {
            content: url('./images/map-icon-selected.svg');
        }
        &::before,
        &::after {
            display: block;
            height: 1em;
            width: 1em;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &::after {
            display: none;
        }
        &--active {
            height: 47px;
            width: 47px;
            @include font-size(4.7);
            z-index: 10;
            &::before {
                display: none;
            }
            &::after {
                display: block;
            }
        }
        &--hidden {
            opacity: 0;
            visibility: hidden;
        }
    }
    /* Marker tweaks */
    .mapboxgl-popup-close-button {
        display: none;
    }
    .mapboxgl-popup-tip {
        display: none;
    }
    
    .mapboxgl-popup-content {
        padding: spacing(3);
        border-radius: 14px;
    }
        
    .mapboxgl-container .leaflet-marker-icon {
        cursor: pointer;
    }

    .mapboxgl-popup {
        z-index: 20;
        max-width: unset !important;
    }
}