.testimonial-slide {
    &__details {
        flex-wrap: nowrap;
        width: 100%;
        @include md {
            width: 60%;
        }
    }
    &__avatar {
        border-radius: 50%;
        height: 56px;
        width: 56px;
    }
    &__quote {
        position: relative;
        margin-left: spacing(8);
        width: calc(100% - #{spacing(8)});
        @include lg {
            margin-left: auto;
            width: 83.33%;
        }
        @include xl {
            width: 60%;
        }
    }
    &__icon {
        @include font-size(3.5);
        padding-right: spacing(2);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%) translateY(-40%);
    }
}

.testimonial-slider.slider-block {
    padding-top: clamp(480px, 117.33%, 550px);
    background: transparent;
    @include md {
        padding-top: 312px;
    }
}