$image_sizing: calc((330 / 399) * 100%);
$adjustment: calc(-1 * ((100% - #{$image_sizing}) / 2));
$top_bar: calc(-1 *(#{$image_sizing} + #{spacing(3)} + #{spacing(13)} + 100%));
$dot_width: 16px;
$bar_width: 6px;

.milestone-block {
    max-width: calc(399px + #{spacing(5)});
    padding-top: spacing(13);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    &__img {
        padding-top: $image_sizing;
        position: relative;
        overflow: hidden;
        picture {
            position: absolute;
            left: 0;
            right: 0;
            top: $adjustment;
            bottom: $adjustment;
            overflow: hidden;
        }
        & + .milestone-block__details {
            &::after {
                content: "";
                display: block;
                top: 0;
                width: 6px;
                height: spacing(6);
                background-color: color('grey', 'light');
                position: absolute;
                top: calc(-1 * #{spacing(6)});
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &__details {
        position: relative;
        text-align: center;
        @include md {
            text-align: left;
        }
        &::before {
            content: "";
            display: block;
            height: $dot_width;
            width: $dot_width;
            border-radius: 50%;
            background: color('red', 'light');
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            @include md {
                transform: translateY(50%) translateX(-50%);
            }
        }
    }
    &:nth-child(2n + 1) {
        @include md {
            padding-left: spacing(5);
            margin-left: 50%;
            margin-right: auto;
        }
        .milestone-block__details {
            &::before {
                @include md {
                    left: calc(-1 * #{spacing(5)});
                }
            }
            &::after {
                @include md {
                    display: none;
                }
            }
        }
        &::after {
            @include md {
                content: "";
                width: $bar_width;
                height: 100%;
                position: absolute;
                display: block;
                background: color('grey', 'light');
                top: 0;
                left: 0;
                z-index: -2;
                transform: translateX(-50%);
            }
        }
        &:last-child {
            .milestone-block__details::after {
                @include md {
                    right: auto;
                    left: calc(-1 * #{spacing(5)});
                    transform: translateX(-50%);
                }
            }   
        }
    }
    &:nth-child(2n) {
        @include md {
            padding-right: spacing(5);
            margin-right: 50%;
            margin-left: auto;
        }
        .milestone-block__details {
            @include md {
                text-align: right;
            }
            &::before {
                @include md {
                    left: auto;
                    right: calc(-1 * #{spacing(5)});
                    transform: translateY(50%) translateX(50%);
                }
            }
            &::after {
                @include md {
                    display: none;
                }
            }
        }
        &:last-child {
            .milestone-block__details::after {
                @include md {
                    left: auto;
                    right: calc(-1 * #{spacing(5)});
                    transform: translateX(50%);
                }
            }   
        }
        &::after {
            @include md { 
                content: "";
                width: $bar_width;
                height: 100%;
                position: absolute;
                display: block;
                background: color('grey', 'light');
                top: 0;
                right: 0;
                z-index: -2;
                transform: translateX(50%);
            }
        }
    }
    &:first-child {
        padding-top: spacing(5);
        .milestone-block__details::after {
            @include md {
                content: "";
                width: $bar_width;
                position: absolute;
                background: color('grey', 'light');
                display: block;
                top: $dot_width;
                bottom: 0;
                height: calc(100% - #{$dot_width});
                transform: translateX(-50%);
                z-index: -1;
                right: auto;
                left: calc((-1 * #{spacing(5)}));
            }
        }
        &::after {
            display: none;
        }
    }
    &:last-child {
        .milestone-block__details::after {
            @include md {
                content: "";
                width: $bar_width;
                position: absolute;
                background: color('white');
                display: block;
                top: $dot_width;
                bottom: 0;
                height: calc(100% - #{$dot_width});
                z-index: -1;
            }

        }
    }
}