.wp-block-video,
.wp-block-embed,
.wp-block-embed__wrapper {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    video,
    iframe {
        max-height: 100%;
        height: 100%;
        width: 100%;
    }
}