.development-block {
  input,
  label,
  select {
    width: 100%;
    display: block;
  }
  label {
    margin-bottom: 6px;
  }
  select {
    padding: 3px;
  }
  &__controls {
    &__single {
      padding-top: 60px;
    }
    padding-bottom: 100px;
  }
  .image {
    text-align: center;
  }
}