// Variables used to do the math on the circle size to account for the slant.
$slant-mobile: 90%;
$slant: 76%;

$slant-difference: calc(100% - #{$slant});
$image-allowance: calc(#{$slant-difference} * 0.6);

$navigation-allowance: 112px;
$navigation-allowance-mobile: 72px;

$sizing-allowance: 82 / 100;

$circle-size: calc(((#{$mobile-container_width} / 5 ) * 2));
$circle-size-xl: calc(((#{$container_width} / 5 ) * 2) * #{$sizing-allowance}); 
$circle-size-xxl: calc(((#{$xxl} / 5) * 2) * #{$sizing-allowance});

$image-padding: calc((#{$slant-difference} + #{$outer-margin}) * 0.4);