$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #585858;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

////////////////////////////////////////////////////////////////////////////////
// Color palette function
////////////////////////////////////////////////////////////////////////////////

$colors: (
	'red': (
		base: #860038,
		light: #BE1E12,
        hover: transparentize(#860038, 0.2),
	),
    'focus': (
        base: #004686,
    ),
	'grey': (
		dark: #585858,
		base: #CACACA,
		light: #EEEEEE,
        hover: transparentize(#585858, 0.2),
        hover-lt: transparentize(#EEEEEE, 0.2)
	),
	'black': (
		base: #191919,
		trans: transparentize(#191919, .95),
        hover: transparentize(#191919, 0.2),
	),
	'white': (
		base: #fff,
		trans: transparentize(#fff, 0.9),
        hover: transparentize(#fff, 0.2),
        semi: transparentize(#fff, 0.05),
	),
    'yellow': (
        base: #F7B21B,
    )
);


// Usage: color: color('grey', 'dark');
// Output: color: #333;
@function color($color-name, $tone: base) {
	@return map-get(map-get($colors, $color-name), $tone);
}



