// **************************
// SPACING
// **************************
$space-base: 4;
$space-multipliers: 1, 2, 3, 4, 6, 8, 10, 12, 16, 20, 32, 64;

// Usage - padding: space(4)
// Output - padding: 16px
@function space($multiplier) {
  @if index($space-multipliers, $multiplier) {
    @return $space-base * $multiplier * 1px;
  }
  @else {
    @warn "Invalid multiplier `(#{$multiplier})`. Valid values are: `#{$space-multipliers}`";
    @return false;
  }
}

.custom_component {
  margin-top: 130px;
}