@mixin borders($classname) {
    .ba-#{$classname} {
        border: 1px solid color('black');
        &-grey {
            border: 1px solid color('grey');
        }
        &-grey-lt {
            border: 1px solid color('grey', 'light');
        }
    }

    .bt-#{$classname} {
        border-top: none;  
        &-white {
            border-top: 1px solid color('white', 'trans');  
        }
        &-grey {
            border-top: 1px solid color('grey');  
        }
        &-grey-lt {
            border-top: 1px solid color('grey', 'light');  
        }
        &-red {
            border-top: 1px solid color('red');  
        }
    }
    .bv-#{$classname} {
        border-top: 1px solid color('black');  
        border-bottom: 1px solid color('black');  
        &-white {
            border-top: 1px solid color('white', 'trans'); 
            border-bottom: 1px solid color('white', 'trans');  
        }
        &-grey {
            border-top: 1px solid color('grey');  
            border-bottom: 1px solid color('grey');  
        }
        &-red {
            border-top: 1px solid color('red');  
            border-bottom: 1px solid color('red');  
        }
    }

    .bh-#{$classname} {
        border-left: 1px solid color('black');  
        border-right: 1px solid color('black');  
        &-white {
            border-left: 1px solid color('white', 'trans'); 
            border-right: 1px solid color('white', 'trans');  
        }
        &-grey {
            border-left: 1px solid color('grey');  
            border-right: 1px solid color('grey');  
        }
        &-grey-lt {
            border-left: 1px solid color('grey', 'light');  
            border-right: 1px solid color('grey', 'light');  
        }
        &-red {
            border-left: 1px solid color('red');  
            border-right: 1px solid color('red');  
        }
    }
    
    
    .bb-#{$classname} {
        border-bottom: none;  
        &-white {
            border-bottom: 1px solid color('white', 'trans');  
        }
        &-grey {
            border-bottom: 1px solid color('grey');  
        }
        &-grey-lt {
            border-bottom: 1px solid color('grey', 'light');  
        }
        &-red {
            border-bottom: 1px solid color('red');  
        }
    }
    .br-#{$classname} {
        border-radius: 8px;
        &-bt {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        &-lg {
            overflow: hidden;
            border-radius: 14px;
        }
    }
}
