// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function px-to-rem($number) {
  @return $number / 10;
}

@mixin fluid-font-size($maximum, $minimun) {
  $max-screen: strip-unit($xl);
  $min-screen: strip-unit($xs);
  font-size: calc(#{$minimun}px + (#{$maximum} - #{$minimun}) * ((100vw - #{$min-screen}px) / (#{$max-screen} - #{$min-screen})));
}

@mixin fluid-type($maximum, $minimum) {
    $min-rem: px-to-rem($minimum);
    $max-rem: px-to-rem($maximum);
    @include font-size($min-rem);
    @include xs {
        @include fluid-font-size($maximum, $minimum);
    }
    @include xl {
        @include font-size($max-rem);
    }
}
