@mixin responsive($classname) {
    .hide-#{$classname} {
        display: none;
    }
    .show-#{$classname} {
        display: block;
    }
    .flex-#{$classname} {
        display: flex ;
    }
}