@mixin addSpacing($classname) {
    @for $i from 0 through 20 {
        .p-#{$classname}-#{$i} {
            padding: spacing($i);
        }
        .pv-#{$classname}-#{$i} {
            padding-top: spacing($i);
            padding-bottom: spacing($i);
        }
        .ph-#{$classname}-#{$i} {
            padding-left: spacing($i);
            padding-right: spacing($i);
        }
        .pt-#{$classname}-#{$i} {
            padding-top: spacing($i);
        }
        .pr-#{$classname}-#{$i} {
            padding-right: spacing($i);
        }
        .pb-#{$classname}-#{$i} {
            padding-bottom: spacing($i);
        }
        .pl-#{$classname}-#{$i} {
            padding-left: spacing($i);
        }
        .m-#{$classname}-#{$i} {
            margin: spacing($i);
        }
        .mv-#{$classname}-#{$i} {
            margin-top: spacing($i);
            margin-bottom: spacing($i);
        }
        .mh-#{$classname}-#{$i} {
            margin-left: spacing($i);
            margin-right: spacing($i);
        }
        .mh-#{$classname}-auto {
            margin-left: auto;
            margin-right: auto;
        }
        .ml-#{$classname}-auto {
            margin-left: auto;
        }
        .mt-#{$classname}-#{$i} {
            margin-top: spacing($i);
        }
        .mr-#{$classname}-#{$i} {
            margin-right: spacing($i);
        }
        .mb-#{$classname}-#{$i} {
            margin-bottom: spacing($i);
        }
        .ml-#{$classname}-#{$i} {
            margin-left: spacing($i);
        }
    }
}