.hero {
    padding-top: $navigation-allowance-mobile;
    transition: padding-top 0.3s linear;
    opacity: 0;
    animation: fade-in 0.5s ease forwards;
    @include md {
        padding-top: 0;
    }
    &__text {
        padding-bottom: 10%;
        padding-top: spacing(4);
        opacity: 0;
        top: 30px;
        position: relative;
        animation: hero-in 0.8s ease 0.5s forwards;
        @include md {
            padding-top: calc(#{$navigation-allowance-mobile} + #{spacing(4)});
        }
        flex-grow: 0;  
        @include xl {
            padding-top: $navigation-allowance;
            padding-bottom: 5%;
        }
    }
    &--slanted {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% $slant-mobile, 0 100%);
        @include md {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% $slant, 0 100%);
        }
        &.hero--no-img {
            .hero__text {
                text-align: left;
                @include sm {
                    text-align: center;
                }
            }

            .wp-block-buttons {
                text-align: left;
                @include md {
                    justify-content: center;
                }
            }
        }
    }
    &--square,
    &--square.hero--no-img {
        .hero__text {
            padding: spacing(7) 0;
            text-align: left;
            @include sm {
                text-align: center;
            }
            @include md {
                padding-top: calc(#{$navigation-allowance-mobile} + #{spacing(10)});
                padding-bottom: spacing(10);
            }
            @include lg {
                padding-bottom: spacing(15);
                padding-top: calc(74px + #{spacing(15)})
            }
            @include xl {
                padding-top: calc(74px + #{spacing(15)}) ;
            }
        }
        .wp-block-buttons {
            justify-content: center;
        }
        .container {
            max-width: calc((#{$xxl} / 2) - #{$outer-margin});
        }
    }
    &__circle {
        background: color('black');
        opacity: 0.6;
        border-radius: 50%;
        margin: auto;
        height: $mobile_container_width;
        width: $mobile_container_width;
        max-width: 520px;
        max-height: 520px;
        @include md {
            height: $circle-size;
            width: $circle-size;
        }
        @include xl {
            height: $circle-size-xl;
            width: $circle-size-xl;
        }
        @include xxl {
            height: $circle-size-xxl;
            width: $circle-size-xxl;
        }
    }
    &__image-container {
        position: relative;
        padding-bottom: calc((#{$circle-size} + #{$navigation-allowance} ) * 0.1444);
        @include md {
            padding-top: $navigation-allowance-mobile;
        }
        @include xl {
            padding-bottom: calc((((#{$container_width} / 5 ) * 2) + #{$navigation-allowance}  )* 0.1444);
            padding-top: $navigation-allowance;
        }
        @include xxl {
            padding-bottom: calc((((#{$xxl} / 5 ) * 2) + #{$navigation-allowance} ) * 0.1444);
        }
    }
    &__image {
        position: absolute;
        top: calc(#{$navigation-allowance-mobile});
        right: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        height: calc(100% - #{$navigation-allowance-mobile} + 2px);
        max-width: 522px;
        max-height: 522px;
        @include md {
            height: calc(100% - #{$image-allowance} - #{$navigation-allowance-mobile} + 4px);
            width: $circle-size;
        }
        @include xl {
            top: $navigation-allowance;
            height: calc(100% - #{$image-allowance} - #{$navigation-allowance} + 2px);
            width: $circle-size-xl;
        }
    }
    .wp-block-buttons {
        flex-grow: 0;
        flex-basis: auto;
        margin-top: 0;
        .btn.btn-trmc {
            text-align: left;
        }
    } 
    &--no-img {
        .hero__text {
            padding: calc(#{$navigation-allowance-mobile + spacing(3)}) 0 calc(#{$navigation-allowance-mobile + spacing(5)});
            @include md {
                padding: calc(#{$navigation-allowance-mobile + spacing(16)}) 0;
            }
            @include xl {
                padding: calc(#{$navigation-allowance + spacing(16)}) 0;
            }
        }
    }
    &--single {
        padding-top: 210px;
        padding-bottom: spacing(15);
    }
}

@media only screen and (prefers-reduced-motion: 'reduce') {
    .hero {
        transition: padding-top 1s linear;
    }
}

.block--black,
.block--grey {
    .hero__circle {
        background-color: color('white');
        opacity: 0.4;
    }
}

.hero-video {
    min-height: 620px; /* could change based on media querie */
    width: 1067px; 
    position: relative;
    overflow: hidden;
    color: color('white');
    .video {
        position: absolute;
        left: 25%; /* % of surrounding element */
        top: 50%;
        transform: translate(-50%, -50%); /* % of current element */
        height: 100%;
    }
    .video-overlay {
        position: relative;
        z-index: 10;
        height: 100%;
        background: rgba(0,0,0,0.6);
        &__controls {
            .icon-pause,
            .icon-play {
                opacity: 1;
                visibility: visible;
                max-height: 100%;
                transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
            }
            &--paused {
                .icon-pause {
                    opacity: 0;
                    visibility: hidden;
                    max-height: 0;
                }
            }
            &--playing {
                .icon-play {
                    opacity: 0;
                    visibility: hidden;
                    max-height: 0;
                }
            }
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            &__btn {
                background-color: color('grey', 'light');
                width: auto;
                @include font-size(1.1);
                padding: 13px;
                border-radius: 50%;
                transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
                svg {
                    display: block;
                }
                &:hover {
                    cursor: pointer;
                    color: color('grey', 'hover');
                    background-color: color('grey', 'hover-lt');
                }
            }
        }
    }
    .container {
        height: 100%;
    }
    @media only screen and (prefers-reduced-motion: 'reduce') {
        color: inherit;
        .video {
            display: none;
        }
        .video-overlay {
            background: none;
            &__controls {
                display: none;
            }
        }
    }
    @media only screen and (min-width: 721px) {
        min-height: 620px; /* could change based on media querie */
        width: 1067px; 
        .video {
            position: absolute;
            left: 50%; /* % of surrounding element */
            top: 50%;
            transform: translate(-50%, -50%); /* % of current element */
            height: 100%;
        }
    }
    @media only screen and (min-width: 1065px) {
        min-height: 620px; /* could change based on media querie */
        width: 100%; 
        .video {
            position: absolute;
            left: 50%; /* % of surrounding element */
            top: 50%;
            transform: translate(-50%, -50%); /* % of current element */
            height: 100%;
            width: 177.77777778vh; /* 100 * 16 / 9 */
            min-width: 100%;
            min-height: 56.25vw;
        } 
    }   
}

.hero .container--single {
    .hero__text {
        text-align: center;
    }
}