input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select, 
textarea {
	color: $color__text-input;
	border: 1px solid color('grey', 'light');
    display: block;
    width: 100%;
    @include fluid-type(17, 17);
    line-height: 1;
    padding: spacing(2) spacing(3);
    border-radius: 100px;
    margin-top: spacing(1);
	&:focus {
		color: $color__text-input-focus;
	}
    &[aria-invalid=false] {
        & ~ .helper-text {
            display: block; 
        }
        & ~ .error-text {
            color: color('red');
            display: none;
        }
    }
    &[aria-invalid=true] {
        border: 1px solid color('red', 'light');
        & ~ .helper-text {
            display: none; 
        }
        & ~ .error-text {
            display: block;
        }
    }
    &.focus-visible {
        border: 1px solid color('focus');
    }
    &:focus {
        outline: 0;
    }
}

textarea {
    border-radius: 10px
}

.error-text, 
.helper-text {
    @include fluid-type(14, 14);
}

.error-text {
    color: color('red', 'light');
}

.select-wrapper {
    @include fluid-type(17, 17);
    line-height: 1;
    position: relative;
    select {
        appearance: none;
        background: transparent;
    }
    .icon {
        color: inherit;
        position: absolute;
        right: spacing(3);
        top: spacing(2);
        z-index: -1;
    }
}


.label {
    @include fluid-type(17,17);
    line-height: 1;
    font-weight: bold;
    &--sm {
        @include fluid-type(14,14);
        line-height: 1.14;
    }
    &--lc {
        text-transform: none;
    }
}

select {
	border: 1px solid color('grey', 'light');
    padding-right: spacing(6);
}

textarea {
	width: 100%;
}

fieldset {
    border: 0;
    padding: 0;
}


input[type=checkbox],
input[type=radio] {
    &:checked + label .faux-checkbox,
    &:checked + label .faux-radio {
        box-shadow: 0 0 0 2px color('red') inset;
        
    }
    &:checked + label .faux-checkbox {
        background-color: color('red');
        .icon {
            color: color('white');
        }
    }
    &.focus-visible + label .faux-checkbox,
    &.focus-visible + label .faux-radio {
        border: 1px solid color('focus');
    }
    &:checked + label .faux-radio {
        box-shadow: 0 0 0 2px color('red') inset;
        .icon {
            color: color('red');
        }
    }
}

.faux-radio {
    background-color: color('white');
    box-shadow: 0 0 0 2px color('grey') inset;
    border: 1px solid white;
    line-height: 1; 
    border-radius: 50%;
    vertical-align: -0.125em;
    .icon {
        font-size: 24px;
        padding: 6px;
        color: transparent; 
        display: block;
    }
}

.faux-checkbox {
    background-color: color('white');
    box-shadow: 0 0 0 2px color('grey') inset;
    border: 1px solid white;
    line-height: 1; 
    border-radius: 5px;
    vertical-align: -0.125em;
    .icon {
        font-size: 24px;
        padding: 4px;
        color: transparent; 
        display: block;
    }
}

.form-group {
    margin-top: spacing(4);
    & + .form-group {
        margin-top: spacing(5);
    }
    & + .form-row {
        @include md {
            margin-top: spacing(5);
        }
    }
    & + .heading_three {
        margin-top: spacing(7);
    }
}

.form-row {
    @include md {
        margin-top: spacing(4);
    }
    .col-md-6:nth-child(n + 3) {
        margin-top: spacing(5);
    }
    .col-md-6:nth-child(-n + 2) .form-group {
        margin-top: spacing(5);
        @include md {
            margin-top: 0;
        }
    }
    & + .form-group {
        margin-top: spacing(5);
    }
    & + .heading_three {
        margin-top: spacing(7);
    }
}
