@import "buttons";

@import "fields";

.custom-form {
    .heading_three {
        margin-bottom: 0;
    }
    &__success,
    &__failure {
        position: relative;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        padding-top: 0;
        transition: visibility 0.3s ease, opacity 0.3s ease, max-height 0.3s ease, padding-top 0.3s ease;
        .dismiss-button {
            top: spacing(9);
            right: calc(#{spacing(2)} + #{$mobile-outer-margin});
            position: absolute;
            background-color: color('grey', 'light');
            width: auto;
            font-size: 1.1rem;
            padding: 5px;
            line-height: 1;
            border-radius: 50%;
            transition: background-color 0.3s ease-in-out;
            @include lg {
                right: calc(#{spacing(2)} + #{$outer-margin});
            }
            @include xl {
                right: spacing(2);
            }
            &:hover {
                cursor: pointer;
                background-color: color('grey', 'hover-lt');
            }
            svg {
                display: block;
            }
        }
        &--active {
            opacity: 1;
            visibility: visible;
            padding-top: spacing(7);
        }
    }
}